"rules": {
    color-hex-case: "lower",
    color-named: "never",
    color-no-invalid-hex: true,
    function-calc-no-unspaced-operator: true,
    number-leading-zero: "never",
    string-quotes: "double",
    unit-no-unknown: true,
    value-no-vendor-prefix: true,
    value-keyword-case: "lower",
    shorthand-property-no-redundant-values: true,
    property-case: "lower",
    property-no-vendor-prefix: true,
    declaration-no-important: true,
    declaration-block-no-duplicate-properties: true,
    declaration-block-no-shorthand-property-overrides: true,
    declaration-block-semicolon-newline-after: "always",
    block-closing-brace-newline-before: "always",
    block-opening-brace-newline-after: "always",
    block-opening-brace-space-before: "always",
    selector-max-universal: 1,
    selector-pseudo-class-case: "lower",
    selector-pseudo-class-no-unknown: true,
    selector-pseudo-element-case: "lower",
    selector-pseudo-element-colon-notation: "double",
    selector-pseudo-element-no-unknown: true,
    selector-type-case: "lower",
    selector-type-no-unknown: true,
    selector-list-comma-newline-after: "always",
    indentation: 4,
    max-empty-lines: 2,
    max-nesting-depth: 3,
    no-duplicate-selectors: true
}
