// =============================================================================
// INCLUDES/BASE/_BUTTONS.SCSS
// =============================================================================

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: inherit;
}
