// =============================================================================
// INCLUDES/UTILS/_COLORS.SCSS
// =============================================================================


// COLOR PALETTE
// -----------------------------------------------------------------------------
//

$white: #ffffff;

$lightbrown: #9d3c20;
$brown: #7d301e;
$darkbrown: #4d1e12;

$lightpink: #f6dfd7;
$mediumpink: #ebd8d2;

$green: #009966;
$red: #990000;
$redapplyfilters: #9e3c21;
$orange: #ff8040;

$lighyellow: #ffffe6;

$gray: #666666;
$mid-gray: #999999;
$gray6d: #6d6d6d;
$lightgray: #cccccc;
$gainsboro: #e1e1e1;

$black: #000000;
