// =============================================================================
// INCLUDES/UTILS/_TYPOGRAPHY-MIXINS.SMARTPHONE.SCSS
// =============================================================================

// TODO: rimuovere il colore da typestyle

@mixin type-style-1() {
    @include REM(font-size, 32px);
    @include REM(letter-spacing, 2.5px);
    line-height: 1.312;
}

@mixin type-style-2() {
    @include REM(font-size, 28px);
    @include REM(letter-spacing, 2.5px);
    line-height: 1.357;
}

@mixin type-style-3() {
    @include REM(font-size, 24px);
    @include REM(letter-spacing, 2.5px);
    line-height: 1.5;
}

@mixin type-style-3-1() {
    @include REM(font-size, 19px);
    @include REM(letter-spacing, 1.4px);
    line-height: 1.2;
}

@mixin type-style-4() {
    @include REM(font-size, 18px);
    @include REM(letter-spacing, 2.5px);
    line-height: 1.333;
}

@mixin type-style-5() {
    @include REM(font-size, 16px);
    @include REM(letter-spacing, 2.5px);
    line-height: 1.625;
}

@mixin type-style-6() {
    @include REM(font-size, 14px);
    @include REM(letter-spacing, 2.5px);
    line-height: 1.428;
}

@mixin type-style-7() {
    @include REM(font-size, 12px);
    @include REM(letter-spacing, 1px);
    line-height: 1.667;
}


@mixin type-style-8() {
    @include REM(font-size, 10px);
    @include REM(letter-spacing, 2.5px);
    line-height: 1.4;
}

// PARAGRAPHS
// -----------------------------------------------------------------------------
//

@mixin general-text {
    @include REM(margin-top, 6px);
    @include REM(margin-bottom, 6px);
    @include type-style-7;
}

// LISTS
// -----------------------------------------------------------------------------
//

@mixin list {
    @include REM(margin-top, 14px);
    @include REM(margin-bottom, 25px);
    list-style-type: none;
    padding: 0;

    li {
        @include REM(font-size, 12px);
        padding: calculateRem(8px) 0 calculateRem(9px);
    }
}

@mixin list--big {
    li {
        @include REM(font-size, 16px);
        padding: calculateRem(12px) 0;
    }
}

@mixin list--with-links {
    li {
        padding: 0;
        @include REM(margin-bottom, 1px);

        a {
            display: inline-block;
        }
    }
}

@mixin list--big-list--with-links {
    li {
        a {
            display: inline-block;
            padding: calculateRem(10px) 0 calculateRem(11px);
        }
    }
}

// LINKS
// -----------------------------------------------------------------------------
//

@mixin no-underline {
    &::after {
        display: none;
    }
}
